{% extends 'main/base.html' %} {% block main %}
<div class="container">
    <h1 class="text-center my-5">Queues</h1>
    <a href="/">Back</a>
    {% for item in queryset %}
    <div
        class="row border px-3 py-2 my-2 align-items-center"
        style="border-radius: 10px"
    >
        <div class="col-auto">{{ item.status }}</div>
        <div class="col">{{item.path}}</div>
        <div class="col-auto">{{item.created}}</div>
        <div class="col-auto">
            <a href="/queues/delete/{{ item.id }}/">
                <button class="btn btn-danger border">
                    <i class="bi bi-trash h5"></i>
                </button>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main %}
