{% extends 'main/base.html' %} {% block main %}
<div class="container">
    {% if queryset %}
    <h1 class="text-center my-5">
        Удаленное хранилище <br />
        <small class="text-primary">{{ remote }}</small>
    </h1>
    <a href="/queues/">Queues</a>
    <a href="/remotes/list/">Back</a>
    <pre>
        {{ queryset }}
    </pre>
    {% else %}
    <h1 class="text-center my-5">Выберите к камому хранилищу</h1>
    <a href="/queues/">Задачи</a>
    <a href="/">Дом</a>
    <div class="mb-3">
        <div class="d-flex justify-content-center">
            <label for="remotestorage" class="form-label text-muted"
                >Удаленное хранилище</label
            >
        </div>
        <input
            type="text"
            value="gdrive:downloads"
            class="form-control"
            id="remotestorage"
            aria-describedby="remotestorage"
        />
        <div class="d-flex justify-content-center my-3">
            <button
                id="submit_btn"
                class="btn btn-primary me-2"
                onclick="get_files()"
            >
                Ок
            </button>
            <button
                id="delete_btn"
                class="btn btn-danger me-2"
                onclick="delete_files()"
            >
                Удалить
            </button>
            <button
                id="getlink_btn"
                class="btn btn-success"
                onclick="getlink_files()"
            >
                Cсылка
            </button>
        </div>
    </div>
    <script>
        var input = document.getElementById("remotestorage");

        function get_files() {
            window.location.href = `/remotes/list/${input.value}/`;
        }
        function delete_files() {
            window.location.href = `/remotes/delete/${input.value}/`;
        }
        function getlink_files() {
            window.location.href = `/remotes/link/${input.value}/`;
        }
    </script>
    {% endif %}
</div>
{% endblock main %}
